language: clojure
lein: 2.6.1
jdk:
  - oraclejdk8
sudo: required
fail_fast: true
cache:
  directories:
    - $HOME/.m2

script:
  #- lein test
  - cd example
  - mkdir build
  - cp -r resources/public/* build
  - lein with-profile prod cljsbuild once

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: build
  github_token: $GITHUB_TOKEN
  on:
    branch: master
